{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
    <div class="col-md-8 offset-md-2">

        <div class="card mb-4" id="forms">
            <div class="card-body text-center py-5">
                <h1 class="mb-3 text-success">Email Sent Successfully</h1>
                <p class="mb-0">
                    Please check your inbox for the password reset link. If you don't see it, check your spam or junk folder.
                </p>
                <a href="{% url 'store:login' %}" class="btn btn-primary mt-4">Return to Login</a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

