{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5">
  <div class="col-md-8 offset-md-2">

    <h1 class="mb-5 text-center">Create Your Account</h1>

    <div class="card mb-4" id="forms">
      <div class="card-header">
        <small>
          With this account, you can save time during checkout, access your shopping bag from any device, and view your order history.
        </small>
      </div>
      <div class="card-body">

        {% include 'partials/_messages.html' %}

        <form method="post" action="">
          {% csrf_token %}
          <fieldset>

            {% for field in form %}
              <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  <small class="text-danger">{{ field.errors|striptags }}</small>
                {% endif %}
              </div>
            {% endfor %}

            <button class="btn btn-primary w-100" type="submit">Submit</button>
          </fieldset>

          {% if form.non_field_errors %}
            <div class="mt-3">
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            </div>
          {% endif %}

        </form>

        <hr>

        <p class="text-center mb-0">
          Already have an account? <a href="{% url 'store:login' %}">Log In</a>
        </p>

      </div>
    </div>

  </div>
</div>

{% endblock content %}
