




{% extends 'base.html' %}
{% load static %}

      {% block content %}

      <!-- HERO SECTION-->
      <div class=" rounded">
        <section class="hero pb-3  bg-center d-flex align-items-center " style="background: url({% static 'img/t1.jpg' %});">
          <div class="container">
            <div class="row px-4 px-lg-5">
              <div class="col-lg-6">
                <img src="{% static 'img/logo.jpg' %}" alt="TESLAS HEALTHCARE Logo" class="mb-3" style="height: 250px;">
                <a class=" rounded btn btn-danger" href="{% url 'store:all-categories' %}">Browse collections</a>
              </div>
              <div class="col-lg-6 text-right">
                
              </div>
            </div>
          </div>
        </section>


        <!-- CATEGORIES SECTION-->
        <section class="pt-5 text-center">
          <header>
            <p class=" text-muted text-uppercase mb-5"> Every Tesla machine is a fusion of clinical insight and sustainability — ensuring life-changing performance at every turn.</p>
            <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
          </header>
          <div class="row">
          {% if categories %}
            {% for category in categories %}

              <div class="col-md-4 mb-4 mb-md-0">
                <a class="category-item" href="{% url 'store:category-products' category.slug %}">
                  {% if category.category_image %}
                    <img class="img-fluid" src="{{ category.category_image.url }}" alt="{{ category.title }}">
                    {% else %}
                    <img class="img-fluid" src="{% static 'img/cat-img-1.jpg' %}" alt="{{ category.title }}">
                  {% endif %}
                  <strong class="category-item-title">{{ category.title }}</strong>
                </a>
              </div>

            {% endfor %}
          {% endif %}
          </div>
        </section>


        <!-- TRENDING PRODUCTS-->
        <section class="py-5 text-center">
          <header>
            <h3 class="text-muted mb-5 text-uppercase">Why Choose Teslas</h3>
              <p class="p-5 text-dark font-weight-bolder">
                Tesla Healthcare Machinery redefines the limits of performance and precision — delivering intelligent tools that empower hospitals, clinics, and care providers worldwide.
              </p>
          </header>
          <div class="row">

            {% if products %}
              {% for product in products %}

                <!-- PRODUCT-->
                <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="product">
                    <div class="position-relative mb-3">

                      <div class="badge text-white badge-"></div>

                      <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                        {% if product.product_image %}
                          <img class="img-fluid w-75 h-50" src="{{ product.product_image.url }}" alt="{{product.title}}">
                        {% else %}
                          <img class="img-fluid w-100 h-50" src="{% static 'img/product-1.jpg' %}" alt="{{product.title}}">
                        {% endif %}
                      </a>

                      <div class="product-overlay">
                        <ul class="mb-0 list-inline">
                          <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>
                          <li class="list-inline-item m-0 p-0">
                            {% comment %} <a class="btn btn-sm btn-dark" href="{% url 'store:add-to-cart' %}">Add to cart</a> {% endcomment %}

                            <form action="{% url 'store:add-to-cart' %}">
                              <input type="hidden" name="prod_id" value="{{product.id}}" id="product_id">
                              <button type="submit" class="btn btn-sm btn-dark">Add to Cart</button>
                            </form>

                          </li>
                        </ul>
                      </div>
                    </div>
                    <h6> <a class="reset-anchor" href="detail.html">{{ product.title }}</a></h6>
                    <p class="small text-muted">ksh{{product.price}}</p>
                  </div>
                </div>

              {% endfor %}
            {% endif %}



          </div>
        </section>


        <!-- SERVICES-->
        <section class="py-5 bg-light text-center">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Free shipping</h6>
                      <p class="text-small mb-0 text-muted">Free shipping within Nairobi</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#helpline-24h-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">24 x 7 service</h6>
                      <p class="text-small mb-0 text-muted">Free shipping within Nairobi</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="d-inline-block">
                  <div class="media align-items-end">
                    <svg class="svg-icon svg-icon-big svg-icon-light">
                      <use xlink:href="#label-tag-1"> </use>
                    </svg>
                    <div class="media-body text-left ml-3">
                      <h6 class="text-uppercase mb-1">Festival offer</h6>
                      <p class="text-small mb-0 text-muted">Free shipping within Nairobi</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- NEWSLETTER-->
        <section class="py-5 text-center">
          <div class="container p-0">
            <div class="row">
              <div class="col-lg-6 mb-3 mb-lg-0">
                <h5 class="text-uppercase">Want to Know More About Us?</h5>
                <p class="text-small text-muted mb-0">Subscribe to our newsletter for the latest news an offers!</p>
              </div>
              <div class="col-lg-6">
                <form action="#">
                  <div class="input-group flex-column flex-sm-row mb-3">
                    <input class="form-control form-control-lg py-3" type="email" placeholder="Enter your email address" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-dark btn-block" id="button-addon2" type="submit">Subscribe</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      {% endblock content %}
